* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  font-family: 'Robot', sans-serif;
  color: $gray-700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-family: 'Oswald', sans-serif;
}

p {
  color: inherit;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  max-width: none;
  display: block;
}

button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
  appearance: none;
  background: none;
  outline: none;
  cursor: pointer;
}

svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
}
